/Api/bin/**
/Api/obj/**
/Api/csproj.user
/Api/Properties/PublishProfiles/**
/BusinessLogic/bin/**
/BusinessLogic/obj/**
/BusinessLogic/obj/Debug/net5.0/**
/Common/bin
/Common/obj
/DataAccess/bin
/DataAccess/obj
/.vs/Neac/v16
BusinessLogic/obj/Debug/net5.0/BusinessLogic.csprojAssemblyReference.cache
/.vs/**
BusinessLogic/obj/Debug/net5.0/BusinessLogic.csprojAssemblyReference.cache
/.vs/slnx.sqlite
/.vs/Neac-Core/v16/.suo
/.vs/VSWorkspaceState.json
/.vs/Neac-Core/config/applicationhost.config
/.vs/Neac/config/applicationhost.config
/.config
/ClientApp/client-app/node_modules/**
/Api/.vs/**
/CmsV2/node_modules/**
/CmsV2/Logs/**
/CmsV2/bin/**
/CmsV2/obj/**
/CmsV2/.vs/**
/Core/bin/**
/Core/obj/**
CmsV2/wwwroot/dist/js/main-client.js
/Api/wwwroot/Temps/**
*.user
