<div class="col-12">
    <div class="d-flex flex-wrap align-items-center">
        <div>
            <h3 class="card-title">Quản lý phòng ban</h3>
        </div>
        <div class="ms-lg-auto mx-sm-auto mx-lg-0">
            <ul class="list-inline d-flex">
                <li class="me-4">
                    <input type="text" placeholder="Nhấn enter để tìm kiếm.." class="form-control" (keyup.enter)="searchData()" [(ngModel)]="search.textSearch">
                </li>
                <li>
                    <button class="btn btn-primary" (click)="openEditForm()"><i class="fas fa-plus-circle"></i> Thêm mới</button>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th class="text-center">STT</th>
                <th>Tên</th>
                <th>Thao tác</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of departments; let i = index">
                <td class="mdl-data-table__cell--non-numeric text-center">{{((search.pageIndex - 1) * search.pageSize) + i + 1}}</td>
                <td>{{item.departmentName}}</td>
                <td class="text-center">
                    <button class="btn btn-warning" (click)="openEditForm(item.departmentId)" title="Chỉnh sửa người dùng">
                        <i class="far fa-edit"></i> Sửa
                    </button>
                    <button class="btn btn-danger margin-left-1" (click)="openDeleteForm(item.departmentId)" title="Xóa người dùng">
                        <i class="far fa-trash-alt"></i> Xóa
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
        <p-paginator [rows]="search.pageSize" [totalRecords]="totalData" (onPageChange)="onPageChange($event)"></p-paginator>
    </div>
</div>
<!-- Create, Edit dialog -->
<p-dialog [header]="departmentId ? 'Chỉnh sửa phòng ban' : 'Thêm mới phòng ban'" [(visible)]="isShowModal" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="departmentForm">
        <div class="form-group">
            <label class="col-lg-12">Tên phòng ban</label>
            <div class="col-lg-12">
                <input type="text" pInputText formControlName="departmentName" placeholder="Tên phòng ban..." class="w-100"/>
                <div class="error pl-0" *ngIf="(form.departmentName.touched || isSubmit)">
                    <p class="text-danger" *ngIf="form.departmentName.errors?.required">Tên phòng ban không thể để trống</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-12">Trạng thái</label>
            <div class="col-lg-12">
                <p-dropdown 
                    [options]="departmentStatus" 
                    optionLabel="name" 
                    optionValue="status" 
                    formControlName="status" 
                    placeholder="Trạng thái..."
                    [styleClass]="'w-100'"
                    >
                </p-dropdown>
                <div class="error pl-0" *ngIf="(form.status.touched || isSubmit)">
                    <p class="text-danger" *ngIf="form.status.errors?.required">Trạng thái không thể để trống</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-footer">
            <button class="btn btn-primary margin-right-1" title="Lưu" (click)="save()">
                <i class="far fa-save"></i> Lưu
            </button>
            <button class="btn btn-secondary" title="Đóng" (click)="isShowModal=false">
                <i class="far fa-times"></i> Đóng
            </button>
        </div>
    </form>
</p-dialog>

<!-- Delete dialog -->
<p-confirmDialog header="" icon="pi pi-exclamation-triangle"></p-confirmDialog>