<div>
    <div class="d-flex">
        <div class="col-lg-6">
            <div class="card1 pb-5">
                <!-- <div class="row"><img src="/assets/images/login-top.png" class="logo" /></div> -->
                <div class="row px-3 justify-content-center mt-4 mb-5 border-line"><img
                        src="/assets/images/login-img.png" class="image" /></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card border-0 mt-4 p-4 login-form">
                <form (ngSubmit)="loginClick()" [formGroup]="loginForm">
                    <div class="col-lg-12">
                        <div class="row px-3">
                            <label class="mb-1 pl-0">
                                <h6 class="mb-0 text-sm">Tên tài khoản</h6>
                            </label>
                            <input class="mb-4" type="text" formControlName="userName"
                                placeholder="Nhập tên tài khoản" />
                            <div class="error pl-0" *ngIf="(form.userName.touched || isSubmit)">
                                <p class="text-danger" *ngIf="form.userName.errors?.required">Tên tài khoản
                                    không thể để trống</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row px-3">
                            <label class="mb-1 pl-0">
                                <h6 class="mb-0 text-sm">Mật khẩu</h6>
                            </label>
                            <input type="password" formControlName="passWord" name="password"
                                placeholder="Nhập mật khẩu" />
                            <div class="error pl-0" *ngIf="(form.passWord.touched || isSubmit)">
                                <p class="text-danger" *ngIf="form.passWord.errors?.required">Mật khẩu không thể
                                    để trống</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="row px-3 mb-4 mt-2">
                            <div class="col-lg-6 pl-0">
                                <input type="checkbox" name="chk" class="mr-2" />
                                <label for="chk1" class="custom-control-label text-sm">Nhớ đăng nhập</label>
                            </div>
                            <div class="col-lg-6 text-end">
                                <a href="#" class="ml-auto mb-0 text-sm">Quên mật khẩu?</a>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 px-3"><button type="submit" class="btn btn-blue text-center">Đăng
                            nhập</button>
                    </div>
                </form>
                <div class="row mb-4 px-3">
                    <small class="font-weight-bold pl-0">Không có tài khoản? <a class="text-danger">Đăng
                            ký</a></small>
                </div>
            </div>
        </div>
    </div>
</div>
