
<div class="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone m-auto pt-5">
    <div class="mdl-card mdl-shadow--2dp line-chart">
        <div class="mdl-card__supporting-text w-100">
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                <span class="mdl-card__title-text text-color--smooth-gray">NOT Found</span>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                <span class="text--huge color-text--light-blue">404</span>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                <span class="text--sorry text-color--white">Trang này không tồn tại</span>
            </div>
            <!--<a href="index.html">-->
            <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-phone">
                <a routerLink="/" class="mdl-button mdl-js-button color-text--light-blue pull-right">
                    Về trang chủ
                </a>
            </div>
        </div>
    </div>
</div>